<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/store.css" />
    </head>

    <body>
        <div class="header">
            Store with some name
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <div class="footer">
            &copy; 2026 Store
        </div>
    </body>
</html>